.box {
  border: 1px red solid;
  width: 100px;
  height: 100px;
}

.box-wrapper {
  position: absolute;
  display: flex;
}

.draggable {
  cursor: default;
  display: contents;
  position: relative;

  width: 0px;
  height: 0px;
  left: -200px;
  top: -2000px;
}
